body {
    margin: 0;
    padding: 0;
    width: 20rem;
}

.container {
    position: relative;
    background-color: #f2f2f2;
    border-top: 1px solid #ccc;
    padding: 1rem;
}

/* 标题样式 */
.title {
    font-size: 28px;
    font-weight: 800;
}

/* 按钮栏样式 */
.btn-bar {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 0px;
}

/* 基本按钮样式 */
.btn {
    display: inline-block;
    margin-left: .5rem;
    margin-right: .1rem;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid #3498db;
    border-radius: 5px;
    color: #3498db;
    background-color: #ffffff;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* 鼠标悬停时的样式 */
.btn:hover {
    background-color: #3498db;
    color: #ffffff;
    border-color: #ffffff;
}

/* 鼠标按下时的样式 */
.btn:active {
    background-color: #1f618d;
    color: #ffffff;
    border-color: #ffffff;
}

.process {
    background-color: #eb3333;
    color: #ffffff;
}

.process:hover {
    background-color: #009966;
    color: #ffffff;
}

.disable {
    border-color: #d6d1d1;
    background-color: #d6d1d1;
    color: #fff;
}

.disable:hover {
    border-color: #d6d1d1;
    background-color: #d6d1d1;
    color: #fff;
}

/* 状态栏样式 */
.status-bar {
    display: flex;
}

/* 基本状态栏样式 */
.status-bar {
    padding: 10px;
    text-align: center;
    /* bottom: 0; */
    /* left: 0; */
    margin-top: 1rem;
    width: 100%;
    font-size: 20px;
}

/* 链接样式 */
.status {
    /* color: #3498db; */
    text-decoration: none;
    font-weight: bold;
    margin: 0 5px;
}

/* 链接悬停时的样式 */
.status-bar a:hover {
    text-decoration: underline;
}

.success {
    color: #009966;
}

.fail {
    color: red;
}

.inactive {
    color: gray;
}

.active {
    color: #3399CC;
}